.App {
  text-align: center;
  background-color: lightcyan;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.portfolioCard {
  padding: 1rem; 
}

.projCard {
  display: inline-block;
}

.cardtext {
  text-align: left;
}

#contactPane {
  background-color: rgb(176, 250, 250);
}

#aboutPane {
  background-color: rgb(176, 250, 250);
}

#portfolioPane {
  background-color: rgb(176, 250, 250);
  padding: 2rem;
}

#aboutMe {
  text-align: left;
}

.card {
  padding: 1rem;
  border-style: none;
}


#About-box {
  background-color: lightcyan;
}

.homeList {
  text-align: left;
}

.boldHome {
  font-weight: bold;
}

.about-card {
  padding: 2rem;
}




.evenProj {
  background-color: lightcyan;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.oddProj {
  background-color: rgb(176, 250, 250);
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.homeText {
  text-align: left;
  padding-left: 1rem;
}

.homeProj {
  background-color: rgb(176, 250, 250);
  padding: 1rem;
  margin: 0 1rem;
  border-radius: 1rem;
}

/* Images */
.cardImg {
  max-width: 20rem;
  max-height: 20rem;
}

.homepageImg {
  max-height: 14rem;
}

#selfphoto {
  max-width: 400px;
}

.contactImg {
  max-width: 12rem;
}

/* Images for phones */
@media only screen and (max-width: 999px) {
  .homepageImg {
    max-height: 16rem;
    max-width: 10rem;
  }

  .aboutImg {
    max-width: 8rem;
  }

  .cardImg {
    max-width: 10rem;
    max-height: 10rem;
  }

  .contactImg {
    max-height: 4rem;
  }
}

