.App {
  text-align: center;
  background-color: lightcyan;
}

#selfphoto {
  max-width: 300px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.is-child {
  background-color: rgb(176, 250, 250);
}

.portfolioCard {
  padding: 1rem;
  background-color: lightcyan;
}

.cardtext {
  text-align: left;
}

#contactPane {
  background-color: rgb(176, 250, 250);
}

#aboutPane {
  background-color: rgb(176, 250, 250);
}

#portfolioPane {
  background-color: rgb(176, 250, 250);
}

#aboutMe {
  text-align: left;
}

